<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/fragments/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/users/users.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h2 align="center">Список пользователей</h2>
<table>
    <thead>
    <tr>
        <th>Почта</th>
        <th>Логин</th>
        <th>Роль</th>
        <th>Управление</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.email}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.role}"></td>
        <td>
            <form th:action="@{/admin/change/{id}(id=${user.id})}" method="post" th:align="center">
                <button type="submit">Сменить роль</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
