<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Create Insurance</title>
  <link rel="stylesheet" type="text/css" th:href="@{../../static/fragments/header.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../../static/insurance/create_insurance.css}">
</head>
<body>
  <header th:replace="~{fragments/header :: header}"></header>
  <h2 id="h2">Создание страховки для категории  <span th:text="${type.name}"></span></h2>
  <form id="form" th:action="@{/insurance/{id}/create(id=${type.id})}" method="post" th:object="${insuranceDTO}">
    <label class="label" for="name">Название:</label>
    <input class="input" type="text" id="name" name="name" required/><br/>
    <label class="label" for="price">Цена:</label>
    <input class="input" type="number" id="price" name="price" required/><br/>
    <button id="button" type="submit">Создать</button>
  </form>
  <div th:if="${typeExists}" class="error-message" align="center">
    <h3><b> Такая страховка уже существует!!! </b></h3>
  </div>
</body>
</html>
