<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Create Insurance Type</title>
  <link rel="stylesheet" type="text/css" th:href="@{../../static/fragments/header.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../../static/insurance/create_type.css}">
</head>
<body>
  <div th:replace="~{fragments/header :: header}"></div>
  <h2>Создание нового типа страховки</h2>
  <form th:action="@{/insurance/create}" method="post" th:object="${typeDTO}">
    <label for="name">Название:</label>
    <input type="text" id="name" name="name" required/><br/>
    <button type="submit">Создать</button>
  </form>

  <div th:if="${typeExists}" class="error-message" align="center">
    <h3><b> Такая страховка уже существует!!! </b></h3>
  </div>
</body>
</html>
