/* Add styles specific to the index page */
h1 {
    text-align: center;
    color: #333;
}

#ul {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

#li {
    background-color: #c2c2c2;
    transition: transform 0.2s;
}

#li:hover {
    transform: scale(1.02);
}
