/* Add styles specific to the index page */
h1 {
    text-align: center;
    color: #333;
}

#ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

#li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10vw;
    background-color: #4b4545;
    transition: transform 0.2s;
}

#li:hover {
    transform: scale(1.02);
}

.a {
    width: 100%;
}

.a:hover {
    color: #02981d;
}

.sec{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.default-button{
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}